
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap'); /* < Font Parissiene for the nav */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); /* Font for the main bits -Poppins*/


* {
  /* border: 1px solid red; */
  font-family: poppins;
}

body{
   background-color:#FFF1EB;
   margin:4rem;
}

nav{
   background-color:#EAA9AC;
   display: flex;
   justify-content: space-around;
   /* align-self: center; */
   align-items: stretch;
   align-content: space-between;
   border-radius: 45px;
   border:solid;
   border-color: #453F3F;
  font-family: 'Parisienne', cursive;
   color: #453F3F;
   margin: 2rem;

}
.picAndTitle{
   display: flex;
   align-self: flex-start;
   align-content: space-between;
   font-size: large;
}

.basketAndPric{
   display: flex;
   font-size: large;
} 
.hero{
   background-color:#EDC679 ;
   border-radius: 45px;
   border:solid;
   border-color: #E5989B;
   padding:1rem;
   margin: 3rem; ;
   font-family: 'Poppins', cursive;
   color: #453F3F;
   display: flex;
   justify-content:center;
}
.characters{
   display: flex;
   justify-content: space-around;
   align-items: center;


}
#box1:hover{
   transform:scale(1.1) ;
}
#box2:hover{
   transform:scale(1.1) ;
}
#box3:hover{
   transform:scale(1.1) ;
}
#box4:hover{
   transform:scale(1.1) ;
}

/*================================= Title =================================== */

.title-container {
   width: 100%;
   /* border: 1px solid black; */
   border-radius: 50px;
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 10px;
   background-color:#EAA9AC;
    border:solid;
    border-color: #453F3F;
}

.title-title {
   font-family: 'Parisienne', cursive;
}

.sub-title {
   font-family: 'poppins';
}

.basket-img-container {
   height: 80px;
   margin-top: 30px;
}

.basket-img {
   height: fill;
   
}

/* =========================== Hero ======================================== */

.hero-container {
   height: 300px;
   display: flex;
   background-color:#EDC679 ;
   border-radius: 50px;
   margin-bottom: 10px;
   border:solid;
    border-color: #453F3F;
}

.hero-para-container {
   width: 50%;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.hero-para {
   font-size: 30px;
   margin-right: 40px;
}

.hero-img {
   height: 200px;
   margin-top: 50px;
   margin-right: 40px;
}


/* ============================ Card Container ============================== */

.CardContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #0c0b0b;
  border-radius: 50px;
  border:solid;
   border-color: #453F3F;
   margin-bottom: 25px;
}

.Card {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.card-img {
   width: 200px;
}

.card-img:hover{
   transform: scale(1.1);
   cursor: pointer;
}

/* ==================== Checkout ============================== */

.wrapper-checkout {
   padding: 3em;
  height: 700px;
  width: 1100px;
  border-radius: 50px;
  background-color: #ecdcc9;
  z-index: 10;
  position: fixed; 
  top: 65px;
  margin: 0 auto;
  left: calc(50% - 600px);
  display: flex;
  flex-direction: column;
}

.checkout-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* border: 2px solid red;  */
}

.checkout-image {
   width: 150px;
}

.checkout-party-text-container {
   width: 60%;
   margin-right: 5rem;
   height: 80%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* border: 1px solid blue; */
}

.checkout-party-para,
.checkout-joke {
   text-align: center;
}

.checkout-bottom {
   border: 1px solid red;
   display: flex;

}

.container-api {
   width: 30%;
   border: blue 1px solid;
}

.checkout-background {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

/* ======================== Tiers ============================== */

.tiers-container {
   width: 30%;
   height: 60%;
   /* border: 1px solid green; */
   font-size: 15px;
}

.tier-title-container {
   display: flex;
   justify-content: center;
   transition-duration: 0.3s;
}

.tier-title-container:hover {
   transform: scale(1.2);
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 50px;
   cursor: pointer;
   color: white;
   
}



.tier-cat-image {
   margin-left: 5px;
   width: 30px;
}

/* .tier-cat-image:hover {
   transform:scale(5);
} */
/* ======================================= API component =========================== */

.api-inner-container{
   max-width: 100%;
   max-height:100% ;
   
   
   }
   .imageOfCat{
   width: 150px;
     height:150px ;
   }
   .des{
      max-width: 100%;
   max-height:50% ;
   font-size: small;
   }

/*=================== Thank You ========================== */

.thankyou-wrapper {
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   margin: 0 auto;
}

.thanks {
   width: 100%;
   background-color: #453F3F;
   height: 30vh;
   margin-bottom: 15px;
   border-radius: 50px;
   border:solid;
    border-color: #3e9cd3;
}

.thankyou-top {
   background-color: #fad2e1;
   margin-top: 20px;
}

.top-para-container {
   display: flex;
   width: 60%;
   justify-content: space-evenly;
   margin-top: 9vh;
}

.para-text,
.para-item {
   font-size: 25px;
}

.thankyou-middle {
   background-color: #b482a1;
   display: flex;
   justify-content: space-between;
}

.container-middle-para {
   display: flex;
   flex-direction: column;
   margin-right: 5em;
   margin-top: 3em;
   align-items: center;
}

.middle-para {
   font-size: 1.5rem;
}

.middle-button {
   width: 20%;
   border-radius: 50px;
   border-color: #3e9cd3;
   background-color: #cbabd8;
   color: #152c3f;
}

.pineapple {
   height: 25vh;
   margin: 2.5vh 0 0 2.5vh;
}

.thankyou-bottom {
   background-color: #cac0ce;
   
}

/*====== api container= */



